.App {
  margin: 20px;
}
.MuiTable-root {
  border: 1px solid #E0E0E0;
}
.MuiTableHead-root {
  background-color: #E0E0E0;
}
.page-content {
  margin-top: 20px;
}
#add-incident__button {
  background-color: red;
  border-radius: 30px;
  height: 60px;
  color: white;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#add-incident__button:hover {
  background-color: #ff4c4c;
}
.table__no-data {
  text-align: center;
  width: 100%;
  position: absolute;
}
.inspection-creation__form {
  margin: 50px;
}
.inspection-creation__form > div {
  width: 100%;
  margin-bottom: 20px;
}
.creation-form__button__create {
  float: right;
  margin-left: 10px!important;
}
.dashboard-date-picker {
  position: relative;
  padding-bottom: 70px;
}
.dashboard-date-picker > div {
  position: absolute;
  left: 37%;
}
.chart-container {
  width: 45%;
  float:left;
}